---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="main-container">
    <section class="about-hero">
      <p>
        The Beatles were a highly influential British rock band from Liverpool,
        formed in 1960 and active until 1970. The core members were <span
          >John Lennon</span
        >, <span>Paul McCartney</span>, <span>George Harrison</span>, and <span
          >Ringo Starr</span
        >. They are one of the best-selling music groups of all time, credited
        with revolutionizing popular music through their innovative songwriting
        and musical experimentation across genres like pop, rock, psychedelia,
        and Indian music. Their immense global success sparked "Beatlemania" and
        they were a significant cultural force in the 1960s.
      </p>
    </section>
    <section class="awards">
      <h2>Awards</h2>
      <div class="award-item">
        <img src="/images/feather-left.svg" />
        <p>ACADEMY AWARDS</p>
        <img src="/images/feather-right.svg" />
      </div>
      <div class="award-item">
        <img src="/images/feather-left.svg" />
        <p>GRAMMY AWARDS X 27</p>
        <img src="/images/feather-right.svg" />
      </div>
      <div class="award-item">
        <img src="/images/feather-left.svg" />
        <p>BRIT AWARDS X 4</p>
        <img src="/images/feather-right.svg" />
      </div>
      <div class="award-item">
        <img src="/images/feather-left.svg" />
        <p>NME AWARDS X 17</p>
        <img src="/images/feather-right.svg" />
      </div>
      <div class="award-item">
        <img src="/images/feather-left.svg" />
        <p>World Music Awards X 3</p>
        <img src="/images/feather-right.svg" />
      </div>
      <div class="award-item">
        <img src="/images/feather-left.svg" />
        <p>MTV Video Music Awards X 1</p>
        <img src="/images/feather-right.svg" />
      </div>
    </section>
  </div>
</Layout>
