---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="main-container">
    <section class="home-hero">
      <img class="test-top-left" src="/images/testimonial-1.svg" />
      <img class="test-bottom-left" src="/images/testimonial-3.svg" />
      <img class="test-top-right" src="/images/testimonial-2.svg" />
      <img class="test-bottom-right" src="/images/testimonial-4.svg" />
      <img class="hero-img" src="/images/hero-img.png" />
    </section>
    <section class="pop-tracks">
      <h2>MOST POPULAR TRACKS</h2>
      <div class="tracks-list">
        <div>
          <img src="/images/yellow-cassette.png" />
          <p>Hey Jude</p>
        </div>
        <div>
          <img src="/images/blue-cassette.png" />
          <p>TWIST AND SHOUT</p>
        </div>
        <div>
          <img src="/images/red-cassette.png" />
          <p>COME TOGETHER</p>
        </div>
        <div>
          <img src="/images/purple-cassette.png" />
          <p>SOMETHING</p>
        </div>
        <div>
          <img src="/images/black-cassette.png" />
          <p>HELP!</p>
        </div>
        <div>
          <img src="/images/green-cassette.png" />
          <p>LET IT BE</p>
        </div>
      </div>
    </section>
    <section class="tour">
      <h2>Tours</h2>
      <div class="tour-list">
        <div class="tour-item">
          <p>Nov 20</p>
          <p>The Cavern Club Chronicles</p>
          <p>London (UK)</p>
          <p class="sold-out">Sold Out</p>
        </div>

        <div class="tour-item">
          <p>Nov 24</p>
          <p>The Magical Mystery Roadshow</p>
          <p>PARIS (fr)</p>
          <p class="sold-out">Sold Out</p>
        </div>

        <div class="tour-item">
          <p>Nov 29</p>
          <p>The Beatlemania European Express</p>
          <p>Manchester (uk)</p>
          <p class="fill-fast">FILLING FAST</p>
        </div>

        <div class="tour-item">
          <p>Dec 05</p>
          <p>The Fab Four Stateside Swing</p>
          <p>new york (us)</p>
          <p class="sold-out">Sold Out</p>
        </div>

        <div class="tour-item">
          <p>Dec 15</p>
          <p>The Liverpool Legends Return</p>
          <p>Liverpool (uk)</p>
          <p class="available">AVAILABLE</p>
        </div>

        <div class="tour-item">
          <p>Dec 28</p>
          <p>The Final Abbey Road Odyssey</p>
          <p>tokyo (jp)</p>
          <p class="fill-fast">FILLING FAST</p>
        </div>
      </div>
    </section>
  </div>
</Layout>
